@model MvcFront.Models.FieldTemplateEditModel

@{
    ViewBag.Title = "EditField";
}

<h2>Редактировать поле</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
    <fieldset>
    @Html.EditorForModel()
       
    </fieldset>
     <p>
            <input type="submit" value="Сохранить" />|
            @Html.ActionLink("Отмена", "DocTemplateFieldsManagment", new { id = Model.DocTemplateId })
        </p>
}
