body 
{
   width: 842px; 
}

table
{
   width: 842px;
   border-collapse: collapse; /* Отображать только одинарные линии */
}

table, th, td
{
border: 1px solid black;
}
th {
    font-size: 10pt;
}
.totalRow {
    background-color: #AAAAAA;
}
.TableHeader {
    text-align: center;
}
.GridBlock {
    display: inline-block;
}
.LegendBlock {
    border: 0 none white;
    overflow: hidden;
    padding: 0;
    outline: none;
    resize: none;
    width: 842px;
}