@model MvcFront.Models.ReportFieldEditModel

@{
    ViewBag.Title = "AddField";
}

<h2>Добавить поле</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
    <fieldset>
    @Html.EditorForModel()
       
    </fieldset>
     <p>
            <input type="submit" value="Создать" />|
            @Html.ActionLink("Отмена", "DocReportFieldsManagment", new { id = Model.DocReportId })
        </p>
}
