@model MvcFront.Models.DocReportEditModel

@{
    ViewBag.Title = "Изменение отчета";
}

<h2>Отчет</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.EditorForModel()
    </fieldset>
<p>
    <input type="submit" value="Сохранить"/>
    @Html.ActionLink("Отмена", "Index")
</p>
}
    