<connectionStrings>
  <!--<add name="smqdocEntities" connectionString="metadata=res://*/DB.EntityDBModel.csdl|res://*/DB.EntityDBModel.ssdl|res://*/DB.EntityDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=smqdoc;user id=smqdoc;password=smqdoc;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="smqdocEntities" connectionString="metadata=res://*/DB.EntityDBModel.csdl|res://*/DB.EntityDBModel.ssdl|res://*/DB.EntityDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress2008r2;initial catalog=smqdoc;user id=smqdoc;password=smqdoc;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
