@model MvcFront.Models.DocAppointmentEditModel

@{
    ViewBag.Title = "Details";
}

<h2>Инфомрация</h2>
<fieldset>
@Html.DisplayForModel()
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.DocAppointmentId}) |
    @Html.ActionLink("Назад", "Index")
</p>
