@using Telerik.Web.Mvc.UI
@using MvcFront.Models
@model IEnumerable<GroupDocAppointmentListViewModel>

@{
    ViewBag.Title = "title";
}

<h2>Назначенные формы документов</h2>

@Html.ActionLink("Назначить форму", "SelectDocTemplate")
@(Html.Telerik().Grid(Model)
        .Name("GroupDocAppintmentListGrid")
                   .Columns(columns =>
                   {
                       columns.AutoGenerate(column =>
                       {
                           column.Width = "150px";
                           if (column.Member == "ID")
                               column.Visible = false;
                       });
                       columns.Command(command =>
                       {
                           command.Custom("viewDetails").Text("Информация")
                            .DataRouteValues(route => route.Add(o => o.ID).RouteKey("id"))
                            .Action("Details", "DocAppointment")
                            .HtmlAttributes(new { style = "text-align: center" });
                           command.Custom("EditDetails").Text("Редактировать")
                            .DataRouteValues(route => route.Add(o => o.ID).RouteKey("id"))
                            .Action("Edit", "DocAppointment")
                            .HtmlAttributes(new { style = "text-align: center" });
                           command.Custom("DeleteDetails").Text("Удалить")
                            .DataRouteValues(route => route.Add(o => o.ID).RouteKey("id"))
                            .Action("Delete", "DocAppointment")
                            .HtmlAttributes(new { style = "text-align: center" });
                       }).Width(50);
                   })
                 .Sortable()
                .Pageable()

    ) 
