@using MvcFront.DB
@using MvcFront.Enums
@using Telerik.Web.Mvc.UI
@model MvcFront.DB.Document

@{
    ViewBag.Title = "Details";
}

<h2>Детальная информация</h2>
<fieldset>
@Html.DisplayForModel()
</fieldset>
<p>
    @if(Model.DocStatus == DocumentStatus.Editing)
    {
        @Html.ActionLink("Редактировать", "Edit", new {id = Model.documentid}) <text>|</text>
    }
    @Html.ActionLink("Отмена", "Index")
</p>
