@using MvcFront.Enums
@model MvcFront.DB.Document

@{
    ViewBag.Title = "Details";
}

<h2>Детальная информация</h2>
<fieldset>
@Html.DisplayForModel()
</fieldset>
<p>
    @if (Model.DocStatus == DocumentStatus.PlanEditing || Model.DocStatus == DocumentStatus.FactEditing)
    {
        @Html.ActionLink("Редактировать", "EditDocument", new { id = Model.documentid }) <text>|</text>
    }
    @Html.ActionLink("Отмена", "Index")
</p>
