@model MvcFront.Models.ReportTableViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Name</title>
    <link href="@Url.Content("~/Content/Reports.css")" rel="stylesheet" type="text/css" />
</head>
    <body>
        @Html.DisplayForModel()
    </body>
</html>
