@model MvcFront.Models.DocTemplateEditModel
@{
    ViewBag.Title = "Create";
}
    @Html.ValidationSummary(true)
<h2>
    Новая форма</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.EditorForModel()
    </fieldset>
<p>
    <input type="submit" value="Создать" />|
    @Html.ActionLink("Отмена", "Index")
</p>
}
