@model MvcFront.DB.DocTemplate

@{
    ViewBag.Title = "Delete";
}
    @Html.ValidationSummary(true)
<h2>Удаление</h2>

<h3>Вы действиетльно желаете удалить данную форму?</h3>
<fieldset>
@Html.DisplayForModel()
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Отмена", "Index")
    </p>
}
