@using Telerik
@using MvcFront.DB
@using Telerik.Web.Mvc.UI
@using MvcFront.Models
@model MvcFront.DB.DocTemplate

@{
    ViewBag.Title = "DocTemplateFieldsManagment";
}

<h2>Управление полями</h2>
<fieldset>
@Html.DisplayForModel()
<div class="display-label">Поля шаблона</div>
@Html.ActionLink("Добавить поле", "AddField", new { id=Model.docteplateid});
 @(Html.Telerik().Grid<FieldTemplateListViewModel>()
             .DataBinding(dataBinding => dataBinding.Ajax().Select("_FieldTemplateList", "DocTemplateList", new { templId = Model.docteplateid }))
             .Name("FieldTeplateListGrid")
                  .ClientEvents(events => events.OnComplete("onComplete"))
                   .Columns(columns =>
                   {
                       columns.AutoGenerate(column =>
                       {
                           if (column.Member == "FieldTemplateId")
                               column.Visible = false;
                       });
                       columns.Command(command =>
                       {
                           command.Custom("EditDetails")
                            .Text("Редактировать")
                            .DataRouteValues(route => route.Add(o => o.FieldTemplateId).RouteKey("id"))
                            .Action("EditField", "DocTemplateList")
                            .HtmlAttributes(new { style = "text-align: center" });
                           command.Custom("DeleteDetails")
                            .Text("Удалить")
                            .DataRouteValues(route => route.Add(o => o.FieldTemplateId).RouteKey("FieldTemplateId"))
                            .Ajax(true)
                            .Action("DeleteField", "DocTemplateList")
                            .HtmlAttributes(new { style = "text-align: center" });
                       }).Width(80);
                       columns.Command(command =>
                       {
                           command.Custom("UpDetails")
                            .Text("Вверх")
                            .DataRouteValues(route => route.Add(o => o.FieldTemplateId).RouteKey("id"))
                            .Ajax(true)
                            .Action("UpField", "DocTemplateList")
                            .HtmlAttributes(new { style = "text-align: center" });
                           command.Custom("DownDetails")
                            .Text("Вниз")
                            .DataRouteValues(route => route.Add(o => o.FieldTemplateId).RouteKey("id"))
                            .Ajax(true)
                            .Action("DownField", "DocTemplateList")
                            .HtmlAttributes(new { style = "text-align: center" });
                       }).Width(80);
                   })
    ) 
</fieldset>

<script type="text/javascript">
    function onComplete(e) {
        if (e.name == "DeleteDetails" || e.name == "DownDetails" || e.name == "UpDetails") {
            var grid = $('#FieldTeplateListGrid').data("tGrid");
            if (grid != null) {
                grid.rebind();
            }
        }
    }
</script>
