@model MvcFront.Models.FileLibraryFolderEditModel
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.EditorForModel()
    </fieldset>
         <p>
                <input type="submit" value="Сохранить" />|
             @Html.ActionLink("Отмена", "EditAssetLibrary")
             @if (!Model.HasChicldFolders)
             {
                 <text>|<br/></text>
                 @Html.ActionLink("Удалить", "DeleteAssetFolder", new {id = Model.AssetFolderId})
             }
        </p>
}


