@model MvcFront.Models.DocAppointmentEditModel

@{
    ViewBag.Title = "Создание формы";
}
    @Html.ValidationSummary(true)
<h2>
    Редактор документа</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.EditorForModel()
    </fieldset>
<p>
    <input type="submit" value="Создать"/>
    @Html.ActionLink("Отмена", "Index")
</p>
}
    