@model MvcFront.Models.DocAppointmentEditModel

@{
    ViewBag.Title = "Details";
}
    @Html.ValidationSummary(true)
<h2>Инфомрация</h2>
<fieldset>
@Html.DisplayForModel()
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "EditGroupDocAppointment", new { id = Model.DocAppointmentId }) |
    @Html.ActionLink("Назад", "Index")
</p>
