@using Telerik.Web.Mvc.UI
@using MvcFront.Models

@{
    ViewBag.Title = "title";
}

<h2>Назначенные группе формы документов</h2>

@Html.ActionLink("Назначить форму", "SelectDocTemplate")
@(Html.Telerik().Grid<GroupDocAppointmentListViewModel>()
        .Name("GroupDocAppintmentListGrid")
        .DataBinding(dataBinding => dataBinding.Ajax().Select("_GroupDocAppointmentList", "GroupDocAppointment"))
        .ClientEvents(events => events.OnComplete("onComplete"))
                   .Columns(columns =>
                   {
                       columns.AutoGenerate(column =>
                       {
                           column.Width = "150px";
                           if (column.Member == "ID")
                               column.Visible = false;
                       });
                       columns.Command(command =>
                       {
                           command.Custom("viewDetails").Text("Информация")
                            .DataRouteValues(route => route.Add(o => o.ID).RouteKey("id"))
                            .Action("Details", "GroupDocAppointment")
                            .HtmlAttributes(new { style = "text-align: center" });
                           command.Custom("EditDetails").Text("Редактировать")
                            .DataRouteValues(route => route.Add(o => o.ID).RouteKey("id"))
                            .Action("Edit", "GroupDocAppointment")
                            .HtmlAttributes(new { style = "text-align: center" });
                           command.Custom("ChangeStateDetails").Text("Выключить/Выключить")
                            .DataRouteValues(route => route.Add(o => o.ID).RouteKey("id"))
                            .Ajax(true)
                            .Action("ChangeState", "GroupDocAppointment")
                            .HtmlAttributes(new { style = "text-align: center" });
                           command.Custom("DeleteDetails").Text("Удалить")
                            .DataRouteValues(route => route.Add(o => o.ID).RouteKey("id"))
                            .Action("Delete", "GroupDocAppointment")
                            .HtmlAttributes(new { style = "text-align: center" });
                       }).Width(50);
                   })
                 .Sortable()
                .Pageable()

    ) 
      
      @{ Html.Telerik().ScriptRegistrar().OnDocumentReady(
    @<text>
       function onComplete(e) {
              if (e.name == "ChangeStateDetails") {
                  var grid = $('#GroupDocAppintmentListGrid').data("tGrid");
                  if (grid != null) {
                      grid.rebind();
                  }
              }
          }
    </text>);
}