@model MvcFront.Models.BoolIntSetting
<div>
    @Html.CheckBoxFor(x => x.Value)
    @Html.LabelFor(x => x.Value, Model.DisplayName)
    @Html.HiddenFor(x => x.IntCode)
    @Html.HiddenFor(x => x.DisplayName)
</div>
