@using MvcFront.DB
@using Telerik.Web.Mvc.UI
@model MvcFront.DB.Document

@{
    ViewBag.Title = "Details";
}

<h2>Детальная информация</h2>
<fieldset>
@Html.DisplayForModel()
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.documentid }) |
    @Html.ActionLink("Отмена", "Index")
</p>
