@using Telerik.Web.Mvc.UI
@model MvcFront.Models.DocumentEditModel 
@{
    ViewBag.Title = "Edit";
}
<h2>
    Редактор документа</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.EditorForModel()
    </fieldset>
<p>
    <input type="submit" class="cancel" value="Сохранить" name="save" />|
    <input type="submit" value="Отправить документ на проверку" name="send" />
    <input type="submit" class="cancel" value="Вычислить поля" name="calculate" />
    @Html.ActionLink("Отмена", "Index")
</p>
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".multi-line").watermark("Введите текст");
    });
</script>