@model MvcFront.DB.DocReport

    <legend>Отчет</legend>

    <div class="display-label"> @Html.LabelFor(model => model.Name)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

