@model MvcFront.Models.ReportTableViewModel


    <legend>ReportTableViewModel</legend>

    <div class="display-label">Название</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Name)
</div>



